<div class="fbfeed-event">
    <f:if condition="{eventsOverview.showImages}">
        <div class="image">
            <img src="{event.cover}">
        </div>
    </f:if>
    <div class="info">
        <a href="https://facebook.com/events/{event.id}" target="_blank">
            <h3>{event.name}</h3>
        </a>

        <span class="fbfeed-label">
            <i class="fa fa-calendar" aria-hidden="true"></i> Wann:
        </span>
        <span>
            <f:translate key="LLL:EXT:fbfeed/Resources/Private/Languages/weekdays.xml:day.<f:format.date format='N' date='{event.startTime}' />" />
            <f:format.date format="d.m.Y - H:i">{event.startTime}</f:format.date>
        </span>

        <br>

        <span class="fbfeed-label">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Wo:
        </span>
        <span>{event.place}</span>

        <br>

        <span class="fbfeed-label">
            <i class="fa fa-users" aria-hidden="true"></i> Wer:
        </span>
        <span>{event.attendingCount} nehmen teil ({event.interestedCount} sind interessiert)</span>

        <br>

        <p class="text">{event.description}</p>
    </div>
</div>