<div class="profile-picture">
    <a href="https://facebook.com/{page.pageId}" target="_blank">
        <img src="{page.picture}" alt="{page.name}">
    </a>
</div>

<div class="infos">
    <a href="https://facebook.com/{page.pageId}" target="_blank">
        <div class="name">
            <h3>{page.name}</h3>
        </div>
    </a>
    <div class="time">
        <i class="fa fa-globe"></i>
        <f:format.date format="d.m.Y - H:i">{post.createdTime}</f:format.date>
    </div>
</div>

<div class="facebook-logo">
    <img src="/typo3conf/ext/fbfeed/Resources/Public/Icons/facebook.png">
</div>