 <div class="reactions">
    <div>
        <img alt="likes" title="likes" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/like.png">
        <span>{post.like}</span>
    </div>
    <div>
        <img alt="heart" title="heart" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/love.png">
        <span>{post.love}</span>
    </div>
    <div>
        <img alt="funny" title="funny" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/haha.png">
        <span>{post.haha}</span>
    </div>
    <div>
        <img alt="wow" title="wow" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/wow.png">
        <span>{post.wow}</span>
    </div>
    <div>
        <img alt="sad" title="sad" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/sad.png">
        <span>{post.sad}</span>
    </div>
    <div>
        <img alt="angry" title="angry" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/reactions/angry.png">
        <span>{post.angry}</span>
    </div>
</div>
<div class="actions">
    <div id="comments">
        <img alt="comments" title="comments" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/comments.png">
        <span>{post.comments}</span>
    </div>
    <div id="shares">
        <img alt="shares" title="shares" src="/typo3conf/ext/fbfeed/Resources/Public/Icons/shares.png">
        <span>{post.shares}</span>
    </div>
</div>