/* CASCADING STYLESHEET */

.fbfeed-post {
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

.fbfeed-post a, h3 {
    color: #47649F;
}

.fbfeed-post p, h3 {
    margin: 0;
}

/* Header */

.fbfeed-post header {
    min-height: 100px;
    padding: 10px 25px;
    border-bottom: 1px solid #bdc3c7;
    background-image: linear-gradient(#f8f8f8, #efefef);
}

.fbfeed-post header .profile-picture {
    width: 15%;
    max-width: 80px;
    float: left;
}

.fbfeed-post header .profile-picture img {
    border-radius: 50%;
    width: 98%;
    height: auto;
}

.fbfeed-post header .infos {
    width: 70%;
    float: left;
    margin: 0 0 0 2%;
    padding: 10px 0 0 0;
}

.fbfeed-post header .facebook-logo {
    width: 8%;
    max-width: 50px;
    float: right;
}

.fbfeed-post header .facebook-logo img {
    width: 70%;
    min-width: 15px;
    height: auto;
    float: right;
    border-radius: 2px;
}

/* Content */

.fbfeed-post section .link {
    padding: 5px;
    margin: 20px 25px 10px 25px;
    border: 2px dotted #bdc3c7;
    border-radius: 5px;
    background-color: #fdfdfd;
}

.fbfeed-post section video {
    width: 100%;
}

.fbfeed-post section img {
    width: 100%;
}

.fbfeed-post section .text {
    color: #71747A;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 20px 25px;
}

/* Footer */

.fbfeed-post footer {
    text-align: center;
    height: 40px;
    background-image: linear-gradient(#e8e8e8, #f4f6f7);
}

.fbfeed-post footer {
    border-top: 1px solid #bdc3c7;
}

.fbfeed-post footer > div {
    float: left;
}

.fbfeed-post footer div div {
    padding-top: 4px;
    float: left;
    height: 40px;
    border-right: 1px solid #d1d1d1;
}

.fbfeed-post footer div div span {
    font-size: 18px;
    padding-top: 8px;
    padding-left: 5px;
}

.fbfeed-post footer div div img {
    width: 20px;
    height: auto;
    padding-bottom: 8px;
}

.fbfeed-post footer .reactions {
    width: 70%;
}

.fbfeed-post footer .reactions div {
    width: calc(100% / 6);
}

.fbfeed-post footer .actions {
    margin-left: 10%;
    width: 20%;
}

.fbfeed-post footer .actions div {
    width: 50%;
    border-left: 1px solid #d1d1d1;
    border-right: none;
}

/*
FBFEED EVENTS
 */

.fbfeed-label {
    font-weight: bold;
}

.fbfeed-event {
    font-size: 16px;
    min-height: 140px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

.fbfeed-event > div {
    float: left;
}

.fbfeed-event .image {
    width: 25%;
    position: relative;
}

.fbfeed-event .image img {
    width: 100%;
    height: auto;
}

.fbfeed-event .info {
    margin-left: 5%;
    width: 70%;
}

.fbfeed-event .link {
    color: #47649F;
    float: right;
}

.fbfeed-event .content-footer > div {
    float: left;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: #fdfdfd;
    height: 34px;
    text-align: center;
}

.fbfeed-event .content-footer .open-link {
    padding: 5px;
    float: right;
}

.fbfeed-event .content-footer .guest-counter {
    width: 60%;
    font-size: 18px;
}

.fbfeed-event .content-footer .guest-counter div {
    height: 34px;
    float: left;
    width: 33%;
}

.fbfeed-event .content-footer .guest-counter div .fa-check {
    color: darkgreen;
}

.fbfeed-event .content-footer .guest-counter div .fa-question {
    color: darkgray;
}

.fbfeed-event .content-footer .guest-counter div .fa-times {
    color: darkred;
}