<f:if condition="{type} && {content} && {id}">
    <f:switch expression="{type}">
        <f:case value="info">
            <f:render partial="Message/Types/Info" arguments="{content: content, id: id}" />
        </f:case>
        <f:case value="warning">
            <f:render partial="Message/Types/Warning" arguments="{content: content, id: id}" />
        </f:case>
        <f:case value="error">
            <f:render partial="Message/Types/Error" arguments="{content: content, id: id}" />
        </f:case>
        <f:defaultCase>
            <f:render partial="Message/Types/Info" arguments="{content: content, id: id}" />
        </f:defaultCase>
    </f:switch>
</f:if>