<div class="fbfeed">
    <f:if condition="{message_type} && {message_content} && {id}">
        <f:then>
            <f:render partial="Message/Default" arguments="{type: message_type, content: message_content, id: id}" />
        </f:then>
        <f:else if="{posts}">
            <f:if condition="{posts} -> f:count() > 0">
                <f:then>
                    <f:for each="{posts}" as="post">
                        <f:render partial="Post/Default" arguments="{post: post, feed: feed, page: page}"/>
                    </f:for>
                </f:then>
                <f:else>
                    <h4>Es gibt bisher noch keine Facebook Beiträge.</h4>
                </f:else>
            </f:if>
        </f:else>
        <f:else if="{events}">
            <f:if condition="{events} -> f:count() > 0">
                <f:then>
                    <f:for each="{events}" as="event">
                        <f:render partial="Event/Default" arguments="{event: event, eventsOverview: eventsOverview, page: page}"/>
                    </f:for>
                </f:then>
                <f:else>
                    <h4>Keine bevorstehenden Events.</h4>
                </f:else>
            </f:if>
        </f:else>
        <f:else>
            <f:render partial="Message/Default" arguments="{type: 'warning', content: 'Ausgabeformat konnte nicht festgestellt werden', id: id}"/>
        </f:else>
    </f:if>
</div>