<div class="fbfeed-post">
    <!-- Header -->
    <header>
        <f:render partial="Post/Header/Info" arguments="{post: post, feed: feed, page: page}" />
    </header>

    <!-- Content / Body -->
    <section>

        <!-- Type of the body content of the post... -->
        <f:switch expression="{post.type}">
            <f:case value="event">
                <f:render partial="Post/Content/Event" arguments="{post: post, feed: feed}" />
            </f:case>
            <f:case value="link">
                <f:render partial="Post/Content/Link" arguments="{post: post, feed: feed}" />
            </f:case>
            <f:case value="photo">
                <f:render partial="Post/Content/Photo" arguments="{post: post, feed: feed}" />
            </f:case>
            <f:case value="video">
                <f:render partial="Post/Content/Video" arguments="{post: post, feed: feed}" />
            </f:case>
        </f:switch>

        <!-- Text -->
        <f:if condition="{post.message} -> f:count() > 0">
            <div class="text">
                <f:if condition="{feed.maxCharacters} != 0">
                    <f:then>
                        <f:format.crop maxCharacters="{feed.maxCharacters}" respectWordBoundaries="TRUE">
                            <p>{post.message}</p>
                        </f:format.crop>
                        <br>
                        <a href="{post.permalinkUrl}" target="_blank">Weiterlesen...</a>
                    </f:then>
                    <f:else>
                        <p>{post.message}</p>
                    </f:else>
                </f:if>
            </div>
        </f:if>

    </section>

    <!-- Footer -->
    <footer>
        <f:render partial="Post/Footer/Reactions" arguments="{post: post, feed: feed}" />
    </footer>
</div>